Shared/src/main/java/model/data/response/schema/response_start_category_edit.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="categoryItem" type="categoryItem"/>

  <xs:element name="responseStartCategoryEdit" type="responseStartCategoryEdit"/>

  <xs:complexType name="responseStartCategoryEdit">
    <xs:sequence>
      <xs:element name="category" type="categoryItem" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="categoryItem">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required"/>
  </xs:complexType>

</xs:schema>

