Shared/src/main/java/model/data/request/schema/request_create_movie.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="requestCreateMovie" type="requestCreateMovie"/>

  <xs:complexType name="requestCreateMovie">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="year" type="xs:int"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="genreId" type="xs:int"/>
      <xs:element name="budget" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

