Shared/src/main/java/model/data/request/schema/request_end_category_edit.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="requestEndCategoryEdit" type="requestEndCategoryEdit"/>

  <xs:complexType name="requestEndCategoryEdit">
    <xs:sequence>
      <xs:element name="categoryId" type="xs:int"/>
      <xs:element name="categoryName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

